
body { background-color: #EAF6F6;}

hr {border-color: grey;
border-style: dotted none;
border-top: none;
border-width: 15px;
width: 100px;
}

img  {height: 350px;}

h1 { color:#40A2E3;}

H3 {color:#B67352 ;}